{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block body %}

	<h1 class="text-right mt-5" style="color:">Notre catalogue :</h1>

	<section class="row articles">

		{% for produit in tabProduits %}

			<article class="col-md-3 p-0 text-center">
				<div class="border">
					<a href="{{ path('show_produit', {id: produit.id}) }}" class="btn btn-info">
						<div style="background-color:">
							<h4>{{ produit.titre }}</h4>
							<div class="d-flex justify-content-between">
								<h5 class="d-flex">T-shirt :
									{{ produit.collection }}</h5>
								<span class="btn btn-warning">{{ produit.prix }} €</span>
							</div>
						</div>
						<img src="{{ asset('images/produits/' ~ produit.photo ) }}" alt="" class="img-fluid">
						<div class="d-grid gap-2 my-2">
							<h3>Acheter maintenant</h3>
						</div>
						{# <div class="d-grid gap-2"></div> #}
					</a>
				</div>
			</article>
		{% endfor %}
	</section>

{% endblock %}
